@{
    ViewData["Title"] = "Dashboard";
}
<div id="adminvue" class="row">

    <dashboard-card v-for="x in data" color="bg-success" :count="x.count" type="Informations" link="/Source/" :message="x.source"></dashboard-card>
    
</div>


@section Scripts{
    <script src="/components/dashboard-card.js"></script>
    <script src="/js/adminvue.js"></script>
}