@{
    ViewData["Title"] = "Dashboard";
}
<div id="adminvue" class="h-100">
    <div class="middle container h-100 d-flex justify-content-center" v-if="!loaded">
        <b-spinner variant="primary" style="width: 10rem; height: 10rem;" label="Waitin"></b-spinner>
    </div>
    <div class="row">
        <dashboard-card v-for="x in data" :color="getState(x)" :count="x.AllCount" :link="'/Table/' + x.Source.Name" :message="x.Source.Name"></dashboard-card>
    </div>
</div>


@section Scripts{
    <script src="/components/dashboard-card.js"></script>
    <script src="/js/adminvue.js"></script>
}