@{
    ViewData["Title"] = "Source";
}
<div id="sourcevue" class="h-100">
    <div class="middle container h-100 d-flex justify-content-center" v-if="!loaded">
        <b-spinner variant="primary" style="width: 10rem; height: 10rem;" label="Waitin"></b-spinner>
    </div>
    <b-row>
        <b-col md="3" class="my-1">
            <b-card>
                <b-card-body>
                    <b-table striped hover small :items="data" :fields="fields"
                             @@row-clicked="select">
                    </b-table>
                </b-card-body>
                <b-card-footer>
                    <b-button @@click="newData()" variant="primary">New</b-button>
                </b-card-footer>
            </b-card>
        </b-col>«
        <b-col md="6" class="my-1" v-if="isEmpty">
            <b-card>
                <b-card-title>
                    {{selData.Name}}
                </b-card-title>
                <b-card-body>
                    <b-form-group label="Name:" description="Name of your Source">
                        <b-form-input v-model="selData.Name" type="text" required placeholder="Main System"/>
                    </b-form-group>

                    <b-form-group label="Version:">
                        <b-form-input v-model="selData.Version" type="text" placeholder="2.1.0"/>
                    </b-form-group>
                    <b-form-group label="Tag:">
                        <b-form-input v-model="selData.Tag" type="text" placeholder="Test"/>
                    </b-form-group>
                    <b-form-group label="Secret:">
                        <b-form-input v-model="selData.Secret" type="text" placeholder="1234"/>
                    </b-form-group>
                    <b-form-group label="Description:">
                        <b-form-textarea v-model="selData.Description" required placeholder="This is the Test System"/>
                    </b-form-group>
                    
                    <b-form-group label="Logging URL:">
                        <b-form-input readonly v-model="sourceStr" type="text" placeholder="1234"/>
                    </b-form-group>
                </b-card-body>
                <b-card-footer>
                    <b-button @@click="saveData()" variant="success">
                        <b-spinner small v-show="saving"></b-spinner>
                        <span >Save</span>
                    </b-button>
                </b-card-footer>
            </b-card>

        </b-col>
    </b-row>
</div>


@section Scripts{
    <script src="/js/source.js"></script>
}