@{
    ViewData["Title"] = "Table";
}
<div id="tableAnalyze">

    <b-button size="sm">
        {{ show ? 'Hide' : 'Show' }} Alert
    </b-button>

</div>


@section Scripts{
    <script src="/js/table.js"></script>
}